bleach==6.1.0
cached-property==1.5.2
certifi==2022.12.7
cffi==1.15.1
cftime==1.6.2
charset-normalizer==3.1.0
contourpy==1.0.7
cryptography==39.0.2
cycler==0.11.0
defusedxml==0.7.1
dnspython==2.3.0
exchangelib==4.9.0
fonttools==4.38.0
idna==3.4
isodate==0.6.1
kiwisolver==1.4.4
numpy==1.23.1
urllib3==1.26.14

